<div class="total-page">
    <div class="illustration">
        <img class="login-illustration" src="../../assets/images/login-image.png" alt="">
    </div>
    <div class="form-side">
        <h1>Hello!</h1>
        <p class="welcome-text">We are really happy to see you again!</p>
        <form class="fields" action="">
            <label class="label" for="">Eamil</label>
            <input type="text" name="email" placeholder="Enter your email">
            <label class="label" for="">Password</label>
            <input type="password" name="password" placeholder="Enter your password">
            <span>Don't have an account? <a [routerLink]="['/register']">Register</a></span>
            <button class="submit-button" type="submit">Login</button>
        </form>
    </div>
</div>

