@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');


/* body {
    background-color: #888888;
} */

.total-page {
    transform: translate(300px, 120px);
    display: flex;
    width: 50%;
    background-color: rgb(247, 247, 247);
    box-shadow: 1px 1px 14px #888888;
    border-radius: 0.4rem;
   flex-wrap: wrap;
}

.illustration, .form-side {
    flex: 1;
}
.illustration {
   background-color: #F3F6FF;
}
.login-illustration {
    width: 380px;
    /* padding: 8px 0 0 8px; */
}
.form-side {
    padding: 30px;
}

.greating {
color: #404040;
font-size:  28px;
font-family: 'Poppins', sans-serif;
font-weight: 500;
margin: 0;
}

.welcome-text {
    font-size: 18px;
    font-weight: 500;
    color: #404040;
    font-family: "Poppins";
}

.fields {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

input {
    padding: 12px;
    width: 14rem;
    margin-bottom: 0.8rem;
    margin-top: 0.3rem;
    border-radius: 0.2rem;
    border: none;
}

.label {
    font-weight: 500;
    font-size: 18px;
    color: rgb(36, 35, 35);
    font-family: 'Poppins', sans-serif;
}

.submit-button {
    padding: 0.5rem;
    font-size: 18px;
    font-weight: 500;
    border-radius: 0.2rem;
    border: none;
    background-color: rgb(68, 65, 211);
    color: white;
    margin: 1.6rem 0rem;
}


