<div class="total-page">
    <div class="illustration">
        <img class="login-illustration" src="../../assets/images/Frame 7.jpg" alt="">
    </div>
    <div class="form-side">
        <p class="greating">Hello!</p>
        <p class="welcome-text">We are really happy to see you again!</p>
        <form class="fields" action="" (ngSubmit)="login()">
            <label class="label" for="">Eamil</label>
            <input class="feild" type="text" [(ngModel)]="credentials.email" name="email" placeholder="eg: abc@gmail.com" required>
            <label class="label" for="">Password</label>
            <input class="feild" type="password" [(ngModel)]="credentials.passwor_d" name="password" placeholder="eg: ab12" required>
            <button class="submit-button" type="submit">Login</button>
            <!-- <div><i class="fa fa-arrow-right"></i></div> -->
        </form>
        <div *ngIf="validationErrors">
            <div class="error">{{ validationErrors.Email }}</div>
            <div class="error">{{ validationErrors.Password }}</div>
          </div>
        <span class="guiding-text">Don't have an account? <a class="create-text" [routerLink]="'/register'">Create</a></span>
    </div>
</div>

